h1 {
	width:100%;
	text-align: center;
	padding-top: 100px;
}
h1 .label {
	display:inline-block;
	position:relative;
	font-family: 'Roboto';
	font-weight: 200;
	color:#a8a8a8;
}
h1 .icon {
	position:absolute;
	font-weight:normal;
	padding-right:5px;
	top:-20px;
	right:-50px;
	font-family:'icons';
	font-size:36px;
	color:#ef3c3c;
	animation-name:pulse;
	animation-iteration-count:1;
	animation-duration:.9s;
	animation-fill-mode:forwards;
	animation-delay: .2s;

}

#contact { width:100%; margin:100px auto 0 auto; position:relative;}
/*#contact * {font-family:'lato'; color:#14255f; font-size:20px;}*/
.input-field input, .input-field label{
	color: #a8a8a8;
	font-size: 22px;
	padding-bottom: 5px;
}

.input-field input[type=text]:focus + label{
	font-size: 20px;
	color: #ef3c3c;
}
.input-field label.active{
	font-size: 15px;
	color: #999;
}
.input-field input{
	border-bottom: 1px solid #a8a8a8;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #ef3c3c;
     box-shadow: 0 1px 0 0 #ef3c3c;
   }
/*#contact input { border:1px solid #e5e4e4; height:50px; border-radius:5px; padding-left:10px; line-height:50px; width:49%; box-sizing:border-box; vertical-align:top; background: #fff;}
#contact input:nth-child(1){
	float:left;
	 margin-right:1%;
}
#contact input:nth-child(2){
	float:right;
}*/
#contact textarea {
	width:100%;
	margin-top:10px;
	border:1px solid #e5e4e4;
	height:300px;
	box-sizing:border-box;
	padding-left:10px;
	padding-top:15px;
	resize:vertical;
	clear:both;
	background: #fff;
	color: #a8a8a8;
	font-size: 22px;
	outline-color: #ef3c3c;
}

#send { width:80px; height:80px; background:#f23a3a; border-radius:40px; cursor:pointer; position:absolute; right:60px; bottom:-40px; z-index:10;transition:.4s ease;}

#send.active{
	background:#bab9b9;
}


#send .icon {
	padding-top:18px;
	width:100%;
	text-align:center;
	color:#ffffff;
	font-size: 30px;
	font-family: 'icons';
}

#send .icon.inactive:after{
	content: '\e163';
	font-family: 'icons';
}

#send:hover { transform:scale(1.2);}

.email {
	margin-top:20px;
}

.email .icon {
	font-family:'icons';
	font-size:26px;
	color:#f23a3a;
	display:inline-block;
	padding-top:0;
	padding-right:10px;
}

.email .address {
	font-family:'lato';
	font-size:22px;
	color:#a8a8a8;
	display:inline-block;
	vertical-align:top;
}

.divider {
	width:100%;
	height:3px;
	background:#cdcdcd;
	margin:130px auto 0 auto;
	position:relative;
	overflow: visible;
}

.divider .label {
	position:absolute;
	left:0;
	bottom:-8px;
	width:100%;
	color:#a8a8a8;
	font-family:'Roboto';
	font-size:20px;
	text-align:center;
	z-index: 10;
}

.divider .label span {
	background:#fafafa;
	padding:15px;
}

.note { margin:50px auto 100px auto; width:100%; box-sizing:border-box; padding-right:100px; font-family:'lato'; font-size:22px; color:#a8a8a8; position:relative;}
.note b{ color:#f23a3a;}

.note .icon {
	position:absolute;
	top:0;
	right:10px;
	font-family:'icons';
	font-size:45px;
	transform: rotate(60deg);
	color: #bab9b9;
}

@keyframes pulse {
	0%{ transform:scale(1);}
	50%{ transform:scale(1.5);}
	100%{ transform:scale(1);}
}

.jumping-dots{
	position: relative;
	top: -7px;
	left: -3px;
	color: #747474;
}

.jumping-dots span {
	font-family: 'icons';
	font-size: 10px;
  position: relative;
	letter-spacing: -5px;
  bottom: 0px;
  -webkit-animation: jump 1500ms infinite;
  animation: jump 2s infinite;
}
.jumping-dots .dot-1{
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.jumping-dots .dot-2{
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.jumping-dots .dot-3{
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

@-webkit-keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}

@keyframes jump {
  0%   {bottom: 0px;}
  20%  {bottom: 5px;}
  40%  {bottom: 0px;}
}
