
.white-paper{
  padding-top: 40px;
  font-size: 22px;
}

.white-paper h1{
  padding-top: 10px;
}

.white-paper h2{
  margin-bottom: 40px;
}

@keyframes fadeIn {
	0% { opacity:0; right:45px;}
	100% { opacity:1; right:20px;}
}
.white-paper .description { padding-top:40px; margin-bottom:100px;}

.white-paper .list {margin-bottom:100px;}
.white-paper .list .label { font-size:18px; padding-bottom:10px;}
.white-paper .list li { list-style:none; display:inline-block; padding:8px 10px 8px 10px; background:#e3e2e2; margin-right:10px; border-radius:4px;}

.white-paper .feature { width:100%; margin-bottom:100px; }
.white-paper .feature .right { float:right; margin-left:25px;}
.white-paper .feature .left { float:left; margin-right:25px;}
.white-paper .feature .italic { font-style:italic;}
.white-paper .feature .title {color:#f23a3a; font-size:24px; padding-bottom:10px; font-weight: bold; font-size: 26px;}
.white-paper .feature .text { vertical-align:top;}
.white-paper .feature a { text-decoration:underline;}

.white-paper .grid {}
.white-paper .grid-item { width:240px; box-sizing:border-box; border:15px solid #f4f4f4; transition:.3s ease; position:relative;}
.white-paper .grid-item img { width:100%; transition:.3s ease; position:relative;}
.white-paper .tint { position:absolute; top:0; left:0; width:100%; height:100%; z-index:8; background:#000; opacity:0; transition:.2s linear; cursor:pointer;}
.white-paper .grid:hover .grid-item {}
.white-paper .grid:hover .tint {opacity:.5;}
.white-paper .grid-item:hover { transform:scale(1.2); opacity:1 !important; z-index:9;}
.white-paper .grid-item:hover .tint {opacity:0;}

.white-paper .breadcrumb{
  color: #999;
  font-size: 18px;
}

.white-paper .breadcrumb:last-child{
  cursor: default;
}

.white-paper .breadcrumbs{
  margin-bottom: 80px;
}

.breadcrumb:before{
  content:'\e315';
  font-family: 'icons';
  color: #999;
}

#overlay { position:fixed; top:60px; left:0; width:100%; height:100%; text-align:center; z-index:9;}
#overlay .bg { position:fixed; left:0; top:0; width:100%; height:100%; background:#000000; opacity:.8;}
#overlay .image { width:100%; height:100%; overflow:scroll; position:relative; z-index:10;}
#overlay img { width:100%; max-width:600px; position:relative; margin-top:30px; margin-bottom:100px; margin-left:auto; margin-right:auto;}
#overlay .icon { font-family:'icons'; color:#ffffff; font-size:35px; position:fixed; top:75px; right:45px; z-index:11; cursor:pointer;}
.white-paper .hide { display:none;}

.white-paper .overlay-open { overflow:hidden;}
.white-paper .video { width:100%; margin-bottom:50px; color:#ffffff; text-align:center;}
.white-paper .video .background { width:660px; padding:30px; background:#333; margin:0 auto; position:relative;}
.white-paper .video .arrow { font-family:'icons'; font-size:100px; color:#f23a3a; position:absolute; top:50%; margin-top:-50px; left:60px; width:100px; height:100px; line-height:100px; text-align:center; cursor:pointer; z-index:99; opacity:.6; transition:.2s ease;}
.white-paper .video .arrow:hover { opacity:1;}
#cover { width:100%; height:100%; position:absolute; left:0; top:0; z-index:98; overflow:hidden; cursor:pointer;}
#cover img { width:600px; padding:30px;}

.snippet {
  padding: 40px;
  background: #e3e2e2;
  border-radius: 5px;
  width: 50%;
  color: #444;
}

.snippet span{
  color: #999;
}

.border{
  border:1px solid #ccc;
}
