<div class="container">

<link rel="stylesheet" href="/css/contact.css" />

<h1 class="noselect">
	<div class="label">Hello<div class="icon">&#xe96e;</div></div>
</h1>

<form id="contact">
	<!-- <input id="name" placeholder="what is your name? "/><input id="email" placeholder="where can I email you back?" /> -->
		<div class="row">
			<div class="input-field col s6">
				<input id="name" type="text" ng-model="c.message.name" />
				<label for="name">what's your name?</label>
			</div>
			<div class="input-field col s6">
				<input id="email" type="text" ng-model="c.message.email"/>
				<label for="email">where can I email you back?</label>
			</div>
		</div>
    <textarea id="message" placeholder="what's on your mind?" ng-model="c.message.text"></textarea>
    <div
		id="send"
		ng-click="c.sendMail()"
		ng-class="{active:c.sending==true}"
		>
		<div
		ng-class="{inactive:c.sending==false}"
		class="icon">
			<div
				ng-if="c.sending==true"
				class="jumping-dots">
			  <span class="dot-1">&#xe3fa;</span>
			  <span class="dot-2">&#xe3fa;</span>
			  <span class="dot-3">&#xe3fa;</span>
			</div>
		</div>
	</div>
</form>

<div class="email">
	<div class="icon">&#xe0e1;</div>
    <div class="address">hello@jondyson.com</div>
</div>

<div class="divider">
	<div class="label"><span>or</span></div>
</div>


<div class="note">
    <span>If you have any quick questions or would like to <b>chat</b> be sure to check the chat application on the bottom right of the screen. I'm online quite often; what with being a web developer and all. </span>
    <div class="icon">&#xf064;</div>
</div>

</div>
