/* Use ng-style and create a subdued state for all colors
then a hover event can subdue all but the hovered item */

/*create a modal with input for each day of the week
then allow input of minutes for that day. This will control
which items appear in which day cards and percent of day */

<link href="../css/dev.css" rel="stylesheet" />

<section class="container dev">
  <div class="dev-group">
    <div class="title">{{d.week.startDate|date:'MMM d'}} - {{d.week.endDate|date:'MMM d'}}</div>

    <div class="day tile" ng-repeat="day in d.days" ng-init="dayIndex = $index">
      <div class="label">{{day}}</div>
      <div class="track">
        <div class="color"
          ng-repeat="task in d.week.tasks"
          ng-if="task.duration[dayIndex] != 0"
          ng-style="{
            height:task.dailyPercentage[dayIndex] + '%',
            background:task.color,
          }"></div>
      </div>
      <ul>
        <li>
          <div class="swatch"></div>
          <div class="task" ng-repeat="task in d.week.tasks" ng-if="task.duration[dayIndex] != 0">{{task.title}}</div>
        </li>
      </ul>
    </div>




    <div class="clear"></div>



    <ul class="tasks tile">

      <div class="week tile">
        <div class="track">

          <div class="color"
            ng-repeat="task in d.week.tasks"
            ng-style="{
              background:task.color,
              width:task.weeklyPercentage + '%'
            }"
            ></div>

        </div>
      </div>

      <li class="task" ng-repeat="task in d.week.tasks">
        <div class="label">
          <span ng-show="!editTitle" ng-click="editTitle = !editTitle">{{task.title}}</span>
          <input ng-show="editTitle" ng-model="task.title" ng-blur="editTitle = !editTitle"/>
          <div class="dayInputs">
            <input ng-model="task.duration[0]" ng-blur="d.init()" type="number" />
            <input ng-model="task.duration[1]" ng-blur="d.init()" type="number" />
            <input ng-model="task.duration[2]" ng-blur="d.init()" type="number" />
            <input ng-model="task.duration[3]" ng-blur="d.init()" type="number" />
            <input ng-model="task.duration[4]" ng-blur="d.init()" type="number" />
          </div>
          <div class="button remove">-</div>
          <div class="tag"
          ng-style="{
            background:task.color,
          }"
          ></div>
          <ul class="notes">
            <li ng-repeat="comment in task.comments track by $index">
              <div class="tinyBtn" ng-click="d.removeComment(task, $index)">-</div>
              <span ng-show="!editComment" ng-click="editComment = !editComment">{{comment}}</span>
              <input ng-model="comment" ng-show="editComment"  ng-blur="editComment = !editComment"/>
            </li>
          </ul>
          <div class="button addNote" ng-click="d.addComment(task)">+</div>
        </div>
      </li>

      <!-- <li class="task">
        <div class="label">
          <span>API Task One</span>
          <div class="button remove">-</div>
          <div class="tag blue"></div>
          <ul class="notes">
            <li>
              <div class="tinyBtn">-</div>
              <span>step 1</span>
            </li>
            <li>step 2</li>
            <li>step 3</li>
            <li>step 4</li>
          </ul>
          <div class="button addNote">+</div>
        </div>
      </li>
      <li class="task">
        <div class="label">
          <span>API Task Two</span>
          <div class="tag green"></div>
        </div>
      </li>
      <li class="task">
        <div class="label">
          <span>API Task Three</span>
          <div class="tag yellow"></div>
        </div>
      </li> -->
    </ul>

    <div class="button add" ng-click="d.addTask()">+</div>

  </div>
</section>
