html, body
  margin: 0;
  padding: 0;

a
  color: currentColor;
  text-decoration: none;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

@font-face
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: local('icons'), local('icons'), url(fonts/icomoon.woff) format('woff');

.hero
  width: 100%;
  height: 600px;
  max-height: 90%;
  text-align: center;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

.hero .hero-group
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;


.hero .name
  float: left;
  font-family: "Homemade Apple"
  font-size: 50px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 15px;

.hero .mean
  float: left;


.mean .type
  font-family: icons;
  font-size: 70px;
  color:#ef3c3c;
  line-height: 90px;

.mean .type span {
  opacity: 0;
  animation-name:blink;
	animation-iteration-count:infinite;
	animation-duration:.7s;
	transition-timing-function:step-end;
}

@keyframes blink {
	0% {
		opacity:0;
	}
	50%{
		opacity:1;
	}
	100%{
		opacity:0;
	}
}

.mean .bracket, .mean .property, .mean .type
  float: left;


.mean .property
  line-height: 126px;
  font-size: 36px;
  margin-left: 60px;
  margin-right: 20px;
  font-family:'Roboto';
  color: #919090;

.mean .bracket
  font-size: 100px;
  font-family:'Roboto';
  color:#e3e3e3;

.mean .bracket:last-child
  margin-left: 40px;

.mean .deck
  float: left;
  width: 300px;
  padding-top: 10px;

.main-nav
  font-family: 'lato';
  font-size: 24px;
  text-align: center;
  color: #919090;
  padding-top: 20px;

.main-nav .cap
  display: inline-block;

.main-nav ul
  display: inline-block;
  padding: 0;

.main-nav li
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
  transition: 300ms ease;

.main-nav li:hover
  color:#ef3c3c;

.projects
  position: relative;

.logo
  font-family: 'icons';
  position: absolute;
  top:-32px;
  left:50%;
  transform: translateX(-50%);
  color: #919090;
  font-size: 60px;
  transform-origin: center center;
  transition: 500ms ease-out;

.external-nav
  margin-top: 30px;
  text-align: center;

.external-nav ul
  padding: 0;
  list-style: none;

.external-nav li
  display: inline-block;
  font-family: 'icons';
  font-size: 40px;
  cursor: pointer;
  color:#919090;
  padding: 30px;
  transition: 400ms ease;

.external-nav li:hover
  color:#ef3c3c;
